* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: rgb(37, 37, 37);
}

.container.a{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: rgba(14, 14, 14, 0.85);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0%;
  width: 90%;
  padding: 0.5% 5%;
  border-radius: 50px;
}

header:hover {
  background-color: rgb(66, 66, 66);
}

ul{
list-style: none;
}

input {
  background-color: rgb(173, 173, 173);
  border-radius: 15px;
}

input:active {
  background-color: rgba(56, 56, 56, 0.75);
}

.boton {
  background-color: rgb(173, 173, 173);
  background-image: url(assets/Imagenes/Lupa.webp);
  width: 2em;
  height: 2em;
  background-position: center;
  background-size: cover;
}

.boton:hover {
  animation: boton 0.5s ease-in alternate infinite;
}

.text {
  width: 20vw;
  height: 2em;
  position: relative;
}

.text::placeholder {
  padding-left: 10%;
}

main {
  width: 80%;
}

.container.b {
  margin: 4em 0% 0% 0%;
  text-align: center;
}

h1 {
  font-size: 3vw;
  text-shadow: rgb(44, 44, 44) 2px 2px 3px;
  margin: 0em;
}

h2 {
  font-size: 4vw;
}

.ultimo-post {
  display: flex;
  flex-flow: column wrap;
  justify-items: flex-start;
  align-items: center;
  background-color: rgba(87, 185, 42, 0.842);
  border-radius: 4px;
  margin: 2%;
  padding: 1%;
  width: 90%;
}

.ultimo-post:hover {
  background-color: rgba(87, 185, 42, 0.685);
}

h3 {
  font-size: 2vw;
  margin: 2% 0%;
}

.content {
  display: flex;
  flex-flow: column wrap;
  justify-items: flex-start;
  align-items: center;
  background-color: rgb(122, 122, 122);
  border-radius: 4px;
  margin: 4em 0% 0.5% 0%;
  padding: 0.5%;
  width: 90%;
}

.post1 {
  background-image: url(assets/Imagenes/Excalibur.webp);
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  width: 80%;
  height: 35vw;
}

.recomend {
  background-color: rgb(122, 122, 122);
  border-radius: 4px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0% 0% 2% 0%;
  padding: 1%;
  width: 90%;
}

.recomend:hover{
  background-color: rgba(88, 88, 88, 0.9);
}

.carrucel{
  width: 30%;
}

.post2 {
  background-image: url(assets/Imagenes/gram.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  width: 20vw;
  height: 20vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.post3 {
  background-image: url(assets/Imagenes/muramasa-katana.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  width: 20vw;
  height: 20vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.post4 {
  background-image: url(assets/Imagenes/Mjolnir.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  width: 20vw;
  height: 20vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

video {
  max-width: 100%;
}

footer {
  background-color: rgba(22, 22, 22, 0.8);
  width: 99%;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  padding: 0.5%;
}

@keyframes boton {
  from {
    background-color: rgb(173, 173, 173);
  }
  to {
    background-color: rgb(80, 80, 80, 0.5);
  }
}
