* {
  margin: 0%;
  padding: 0%;
}

body {
  background-color: #413e40;
}

.container.a{
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

header {
  background-color: #121012;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0%;
  width: 90%;
  padding: 0.5% 5%;
  border-radius: 50px;
}

header:hover {
  background-color: #121012bb;
}

ul{
list-style: none;
}

input {
  background-color: rgb(173, 173, 173);
  border-radius: 15px;
}

input:active {
  background-color: rgba(56, 56, 56, 0.75);
}

.boton {
  background-color: rgb(173, 173, 173);
  background-image: url(assets/Imagenes/Lupa.webp);
  width: 2em;
  height: 2em;
  background-position: center;
  background-size: cover;
}

.boton:hover {
  animation: boton 0.5s ease-in alternate infinite;
}

.text {
  width: 20vw;
  height: 2em;
  position: relative;
}

.text::placeholder {
  padding-left: 10%;
}

main {
  width: 80%;
}

.container.b {
  margin: 4em 0% 0% 0%;
  text-align: center;
}

h1 {
  font-size: 3vw;
  text-shadow: rgb(44, 44, 44) 2px 2px 3px;
  margin: 0em;
}

h2 {
  font-size: 4vw;
}

.ultimo-post {
  display: flex;
  flex-flow: column wrap;
  justify-items: flex-start;
  align-items: center;
  background-color: #009929;
  border-radius: 4px;
  margin: 2%;
  padding: 1%;
  width: 90%;
}

.ultimo-post:hover {
  background-color: #009929bb;
}

h3 {
  font-size: 2vw;
  margin: 2% 0%;
}

.post1 {
  background-image: url(assets/Imagenes/GitHub.png);
  background-position: center;
  background-size: cover;
  border-radius: 2px;
  width: 35vw;
  height: 35vw;
}

footer {
  background-color: #121012;
  width: 99%;
  font-style: italic;
  font-size: 1rem;
  text-align: center;
  padding: 0.5%;
}

@keyframes boton {
  from {
    background-color: rgb(173, 173, 173);
  }
  to {
    background-color: rgb(80, 80, 80, 0.5);
  }
}
